<h2 class="page-header">Admin Portal</h2>
<div class="container container-v-padded">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive-sm table-striped">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Use case</th>            
            <th *ngIf="users && users.length>0" scope="col">Status</th>
          </tr>
        </thead>
        <tbody >
            <!-- <tr *ngFor="let user of users; let i = index" [class.table-success]="user.is_verified == true"> -->
            <tr *ngFor="let user of users; let i = index">

              <td>{{user.email}}</td>
              <td>{{user.name}}</td>
              <td>{{user.usecase}}</td>
              <td>
                <a *ngIf="!user.is_verified" href="#" (click)="verifyUser(i)">Verify</a>
                <p *ngIf="user.is_verified">Already verified</p>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
