
<div *ngIf="user">

<div class="jumbotron text-center">
  <h1>Hi, {{ user.name }}</h1>
  <p class = "lead"> Your Account Balance: Rs. {{ user.balance }} </p>
</div>

<div class="row">
  <div class="col-md-3">
    <h4><a type="button" class="w3-btn w3-blue w3-border w3-border- w3-round-large " [routerLink]="'/fundstransfer'" >Funds Transfer</a></h4>
  </div>
  <div class="col-md-3">
    <h4><a type="button" class="w3-btn w3-blue w3-border w3-border- w3-round-large " [routerLink]="'/history'">Transaction History</a></h4>
  </div>
  <div class="col-md-3">
    <h4><a type="button" class="w3-btn w3-blue w3-border w3-border- w3-round-larg" [routerLink]="'/deposit'" >Deposit Money</a></h4>
  </div>
  <div class="col-md-3">
    <h4><a type="button" class="w3-btn w3-blue w3-border w3-border- w3-round-large " [routerLink]="'/withdraw'">Withdraw Money</a></h4>
  </div>
  <!-- <div class="col-md-4">
    <h4>JWT Tokens</h4>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div> -->
</div>
</div>
