<div class="jumbotron text-center">
  <h1>The Capitalist Brokers</h1>
  <p class="lead">Banking Solutions Adaptive to Your Needs </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']" style="margin-right: 10px">Register</a>

    <a class="btn btn-secondary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>Account Management</h4>
    <p>Hustle free account activation and management</p>
  </div>
  <div class="col-md-4">
    <h4>Funds Transfer</h4>
    <p>Easy and efficient deposit and withdrawls</p>
  </div>
  <div class="col-md-4">
    <h4>Fast and Secure</h4>
    <p>Fully featured authentication using JSON web tokens</p>
  </div>
</div>
